<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8' />
    <title>Map</title>
    <meta name='viewport' content='initial-scale=1,maximum-scale=1,user-scalable=no' />
    <script src='https://api.tiles.mapbox.com/mapbox-gl-js/v0.53.1/mapbox-gl.js'></script>
    <link href='https://api.tiles.mapbox.com/mapbox-gl-js/v0.53.1/mapbox-gl.css' rel='stylesheet' />
    <style>
        body { margin:0; padding:0; }
        #map { position:absolute; top:0; bottom:0; width:800px; height:800px; }
    </style>
</head>
<body>

<div id='map'></div>
<div style="float:right;">
    <form class ="mt-3" action="{{ url_for('search') }}" method="POST">
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
        <input type="text" name="map_query" class="form-control" placeholder="Search for a location">
        <input type="submit" class="btn btn-primary mt-3" value="Search">
    </form>
    <h1>Latitude: {{ latitude }}</h1>
    <h1>Longitude: {{ longitude }}</h1>
    <p><strong>Location Name:</strong> {{ first['place_name'] }}</p>
    <pre id='coordinates' class='coordinates'></pre>
    <pre id='info'></pre>

    <form action="{{ url_for('save_location', query=query) }}" method="POST">
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
        <input type="submit" value="Save Location">
    </form>
    </br>
    <h1>All Saved Trips</h1>
        <hr>
    {% for trip in trips %}
        <p>Longitude: {{ trip.longitude }}</p>
        <p>Latitude: {{ trip.latitude }}</p>
        <p>Address: {{ trip.address }}</p>
        <hr>
    {% endfor %}

</div>
{% if latitude and longitude %}
    <script>
        mapboxgl.accessToken = 'pk.eyJ1Ijoic3V6dWtpc3RldmVuIiwiYSI6ImNqdWpwcDhhYzFuczE0ZXAzamNkMWpvd2sifQ.PAW2yuz30KwTEL983iIN_g';
        var coordinates = document.getElementById('coordinates');
        var map = new mapboxgl.Map({
        container: 'map', // container id
        style: 'mapbox://styles/mapbox/streets-v11', // stylesheet location
        center: [{{ latitude }}, {{ longitude }}], // starting position [lng, lat]
        zoom: 17.5 // starting zoom
        });

        var marker = new mapboxgl.Marker({
            draggable: true
        })
            .setLngLat([{{ latitude }}, {{ longitude }}])
            .addTo(map);
        
        function onDragEnd() {
            var lngLat = marker.getLngLat();
            coordinates.style.display = 'block';
            coordinates.innerHTML = 'Longitude: ' + lngLat.lng + '<br />Latitude: ' + lngLat.lat;
            return lngLat.lng, lngLat.lat
        }
        
        marker.on('dragend', onDragEnd);

        map.on('mousemove', function (e) {
            document.getElementById('info').innerHTML =
            // e.point is the x, y coordinates of the mousemove event relative
            // to the top-left corner of the map
            JSON.stringify(e.point) + '<br />' +
            // e.lngLat is the longitude, latitude geographical position of the event
            JSON.stringify(e.lngLat);
            });
    </script>

{% else %}

    <script>
        mapboxgl.accessToken = 'pk.eyJ1Ijoic3V6dWtpc3RldmVuIiwiYSI6ImNqdWpwcDhhYzFuczE0ZXAzamNkMWpvd2sifQ.PAW2yuz30KwTEL983iIN_g';
            var coordinates = document.getElementById('coordinates');
            var map = new mapboxgl.Map({
                container: 'map', // container id
                style: 'mapbox://styles/mapbox/streets-v11', // stylesheet location
                center: [101.629845, 3.134673], // starting position [lng, lat]
                zoom: 17.5 // starting zoom
            });

            map.on('mousemove', function (e) {
                document.getElementById('info').innerHTML =
                    // e.point is the x, y coordinates of the mousemove event relative
                    // to the top-left corner of the map
                    JSON.stringify(e.point) + '<br />' +
                    // e.lngLat is the longitude, latitude geographical position of the event
                    JSON.stringify(e.lngLat);
            });


            /* Map: This represents the map on the page. */
            var map = new mapboxgl.Map({
                container: "map",
                style: "mapbox://styles/mapbox/light-v10",
                zoom: 4.62,
                center: [-78.4305, 39.5706]
            });

            map.on("load", function () {
                /* Image: An image is loaded and added to the map. */
                map.loadImage("https://i.imgur.com/MK4NUzI.png", function (error, image) {
                    if (error) throw error;
                    map.addImage("custom-marker", image);
                    /* Style layer: A style layer ties together the source and image and specifies how they are displayed on the map. */
                    map.addLayer({
                        id: "markers",
                        type: "symbol",
                        /* Source: A data source specifies the geographic coordinate where the image marker gets placed. */
                        source: {
                            type: "geojson",
                            data: {
                                type: 'FeatureCollection',
                                features: [
                                    {
                                        type: 'Feature',
                                        properties: {},
                                        geometry: {
                                            type: "Point",
                                            coordinates: [101.7, 3.15972]
                                        }
                                    }
                                ]
                            }
                        },
                        layout: {
                            "icon-image": "custom-marker",
                        }
                    });
                });
            });
    </script>

{% endif %}

</body>
</html>